body, h1, h2, h3, h4, ul {
	margin: 0;
}

body {
	background-color: lightskyblue;
	font-family: Arial;
}

img {
	height: 80%;
	cursor: pointer;
}

span {
	font-size: 3.5vmin;
}

thead th, tbody th {
	font-size: 8vmin;
}

tbody td {
	font-size: 6vmin;
}

ul {
	list-style: none;
	padding: 0px;
}

ul li {
	font-size: 3.5vmin;
}